

.icon-form-field {
  position: relative;
  display: flex;
  flex-direction: column;

}

h6,h2{
    // padding: 15px 10px !important;
    text-align: center;
    margin-top: 5px !important;
}

.logo{
    padding: 15px !important;
    margin: auto;
    display: block;

}


ion-content{
    --ion-background-color: var(--ion-color-background) !important;
    // --ion-background-color: transparent !important;
    
    
}


ion-grid {
  padding: 8px !important;   
  padding-bottom: 16px !important;
}

ion-content.background,
ion-grid,
ion-row,
ion-col {
  height: 100%;     
  margin: 0;
  padding: 0;
}

ion-col {
  display: flex;
  flex-direction: column; 
  position: relative;
}

.voice-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  flex-shrink: 0; 
}

.person-icon {
  font-size: 48px;
  color: #3880ff;          
  background: var(--ion-color-background) !important;   
  border-radius: 50%;
  display: block;
  padding:2px;
}

.volume-overlay {
  position: absolute;
  top: 10px;       
  right: -10px;    
  font-size: 18px;
  color: var(--ion-color-background) !important;;   
  background: #3880ff; 
  border-radius: 50%;
  padding: 2px;
}

.voice-select {
  display: flex;
  align-items: center;   
  gap: 12px;             
}

ion-select{
    max-width: 80%;
    min-width: 50%;
    border: 2px solid slategray;
    border-radius: 12px;
    margin-left: 5px;
}

.button {
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px;
  transition: all 0.1s ease-in-out;
  margin-top: 10%;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 2px;
  }
}

#signout {
  background-color: #ff3b30;
  color: white;
  padding-top: 10px;  
  box-shadow: #b02a22;
}

#signin {
  background-color: blue;
  color: white;
  box-shadow: darkblue;
}

.alert-card {
  padding: 2px;
  margin: 2px;
  margin-top:5%;
  color: #333333; 
  font-size: 14px;
}


.inline-icon {
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 18px;
}

.title-container {
  padding: 12px;
  margin: 15px;
  font-size: 14px;
  background-color: #f7f7f7; /* Light background for contrast */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  color: #333333; /* Dark text for readability */
  text-align: left;
  margin: 2px 0 0 0;
}

h2.title{
    font-size:18px;
}

h3.title{
    font-size:15px;
    color: #585858;
}

.message {
  font-size: 14px; /* Smaller message font */
  color: #555555; /* Slightly lighter color for the message */
}





















